* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    background-color: lightblue;
}

h4 {
    color: red;
    font-size: 80px;
    text-align: center;
}

h5 {
    color: green;
    font-size: 40px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: inline-block;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 28px;
}

table {
    border-collapse: collapse;
    width: 30%;
    margin: auto;
    text-align: center;
}
td, th {
    padding: 10px; 
}
th {
    font-weight: bold;
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: lightgreen; 
}
